/*Mobile*/
@media (max-width: 707px) {
    .title-film-showing::after {
        display: none;
    }
    .link-film-coming-soon {
        display: none;
    }
}


/* Tablet - PC low resolution */
@media (min-width: 707px) and (max-width: 1080px) {
    .wide {
        max-width: 800px;
    }
    .row {
        margin-left: 12px;
        margin-right: 12px;
    }
}