* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.content-film-showing {
    width: 90%;
    margin: 0 auto;
}

.heading-content {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #333;
}

.title-film-showing {
    color: #fff;
}

.title-film-showing::after {
    content: "";
    border: 1px solid #fff;
    margin: 0 8px;
}

.link-film-coming-soon {
    text-decoration: none;
    color: #fff;
}

.link-film-coming-soon:hover {
    color: #ffe387;
}

.film-content {
    position: relative;
}

.film-rate {
    position: absolute;
    width: 36px;
    height: 27px;
    background-color: rgb(81, 81, 235);
    color: #fff;
    top: 4px;
    left: 12px;
    text-align: center;
    line-height: 27px;
}

.film-img-link {
    overflow: hidden;
}

.film-img {
    width: 100%;
    transition: transform ease .3s;
}

.film-img:hover {
    transform: scale(1.15);
}

.film-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 0 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
}

.film-category {
    margin-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.film-duration {
    margin: 6px 0;
}

.buy-ticket-btn {
    width: 100%;
    font-size: 14px;
    padding: 10px 0;
    border: none;
    background-color: rgb(13, 51, 71);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 4px #999;
}

.buy-ticket-btn:hover {
    cursor: pointer;
    background-color:rgba(13, 51, 71, 0.9);
}

.buy-ticket-icon {
    position: relative;
}
