.body {
    display: flex;
    margin: 0 auto;
    width: 90%;
    flex-wrap: wrap; 
    padding-top: 30px;
}

.body .body-image {    
    position: relative;
    width: 30%;
}

.body .body-image div{    
    display: none;
    top: 0;
    right: 10px;
    position: absolute;
    padding: 5px 15px;
    background-color: rgb(249, 235, 209);
    border-radius: 10px;
    border: 3px solid #4f75e8;
}

.body .body-image div::after{
    content: '';
    position: absolute;
    top: 100%; 
    left: 10%;
    border-width: 10px;
    border-style: solid;
    border-color: #4f75e8 transparent transparent transparent;
}

.body .body-image div p{
    font-family: 'LT Neo Rounded', sans-serif !important;
    color: black;
    font-size: 12px;
}

.body .body-image img {
    max-width: 100%;     
    height: auto; 
    padding-top: 30px;
    filter: drop-shadow(3px 4px 5px black);
    transition: transform 0.5s; 
}

.body .body-image:hover img{
    transform: rotate(10deg);
}

.body .body-image:hover div{
    display: block;
}

.body .body-film {
    width: 70%;
    font-size: 40px;
    letter-spacing: 10px;
}

.body .body-film p {
    text-align: center; 
    margin: 0 0 20px 0; 
    color : #fff;
    --color1: #ffe387;
    --color2: #ffd54c;
    --color3: #ffc400;
    --color4: #d6be71;
    --color5: #c4a745;
    text-shadow: 
        0 0 5px var(--color1),
        0 0 10px var(--color2),
        0 0 20px var(--color3),
        0 0 40px var(--color4),
        0 0 50px var(--color5);
}

/* PHIM */

.film-main {
    display: flex;
    width: 100%;
    height: auto;
}

.card-film img{
    border-radius: 10px;
    width: 100%;
    object-fit:contain;
}

.more{
    display: flex;
    width: 100%;    
    justify-content: center;
}

.more a button{  
    font-size: 14px;
    font-family: 'LT Neo Rounded', sans-serif !important;
    text-decoration: none;
    color: black;
    padding: 10px ;
    background-color: rgb(249, 235, 209);
    border: 2px solid #8e7821;
    border-radius: 10px;
    transition: 0.2s ease; 
}

.more button:hover{
    background-color: #ffe387;
    transform: scale(1.1);
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: #fff;
    opacity: 0.7;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: #ffe387;
    opacity: 1;
}

@media only screen and (max-width: 949px) {

    .body .body-image { 
        display: none;
    }
    
    .body .body-film {
        width: 100%; 
        font-size: 30px; 
    }
}
