.body-container{
    margin: 0 auto !important;
    width: 80% !important;
    padding: 20px;
}

.body{
    margin: 0 auto;
    width: 100%;
}

.film_title_main{ 
    margin-bottom: 10px;
    margin-top: 20px;
}

.film_title_main h1{
    display: inline;
    font-size: 23px;
    color: #ffe387;
}

.title {
    text-transform: capitalize;
}

.film_title_main h1 a {
    text-decoration: none;
    font-size: 26px;
    color: #fff;
}

.film_title_main > span{
    font-size: 22px;
    color: #fff;
}

.div-mtd{
    display: flex;
    > div{
        font-size: 18px;
    }
}

.row{
    width: 100%;
}

.col-left{
    font-weight: bold; 
    font-size: 18px;
}

.col-right{
    font-size: 18px;
}

.poster img{
    width: 100%;
    border-radius: 5px;
}
.button-part{
    margin-top: 10px;
    display: flex;
}

.button-part button{
    cursor: pointer;
    padding: 10px 40px;
    background-color: rgb(249, 235, 209);
    border: 2px solid #8e7821;
    border-radius: 10px;
    transition: 0.2s ease;
    color: black;
    font-size: 15px;
    font-family: 'LT Neo Rounded', sans-serif !important;
}

.trailer_container {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    background-color: #575757;
    border: 1px solid #404040;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Nền mờ */
.modal-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.video_wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    border-radius: 10px;
}

.video_wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Nút đóng */
.close-btn {
    background: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 0;
    line-height: 1;
}

.trailer_title_film{
    color: black;
    font-size: 25px;
}

 @media screen and (max-width : 749px) {
    .body-container{
        margin: 0 auto !important;
        width: 90% !important;
        padding: 20px;
    }
 }


.modal{
    > .modal-dialog{
        > .modal-content{
            background-color: #575757;
            .modal-body{
                > h1{
                    font-weight: bold;
                    text-align: center;
                    color: rgb(0, 0, 0);
                    font-size: 30px;
                }
                > .choose-cinema{
                    text-align: center;    
                }
            }
        }
    }
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 18px;
    text-align: center;
}

.tab button:hover {
    background-color: #ddd;
}
  
.tab button.active {
    background-color: #ccc;
}
  
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    > a{
      color: #ffe387;
    }
}
  
.time-film{
    > button{
      height: 50px;
      border: none;
      margin-bottom: 10px;
      margin-left: 5px;
      > a{
          text-decoration: none;
          color: black;
      }
    }
}

#cinema1 {
    display: block;
}