.footer{
    background-color: #1b2544;
    margin: 0 auto ;
    padding-top: 20px;
    margin-top: 50px;
}

.footer-container{
    width: 70%;
    height: 180px;
    margin: 0 auto;
    display: flex;
}

.footer-cskh-container{
    float: left;
    width: 60%;
}

.footer .footer-container-title{
    font-size: 18px;
    font-weight: bold;
}

.footer .footer-content{
    font-size: 14px;
    margin-right: 20px;
}

.footer .footer-contact{
    float: right;
    width: 40%;
}

.footer-contact-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0 10px;
}

.footer-social{
    display: flex;
    box-sizing: border-box;
}

.footer-social img{ 
    width: 35px;
    height: auto;
    margin-right: 10px;
}

@media only screen and (max-width: 991px){
    .footer-container {
        width: 90%;
    }
}

@media only screen and (max-width: 749px){        
    .footer .footer-container-title, .footer-contact-title{ 
        font-size: 15px;
    }
    .footer .footer-content {
        font-size: 12px;
    }
    .footer-social img{ 
        width: 30px;
    }
}