.body-title{
    text-align: center;
    font-size: 35px;
    letter-spacing: 10px;
}

.body-title p{
    color : #fff;
    --color1: #ffe387;
    --color2: #ffd54c;
    --color3: #ffc400;
    --color4: #d6be71;
    --color5: #c4a745;
    text-shadow: 
        0 0 5px var(--color1),
        0 0 10px var(--color2),
        0 0 20px var(--color3),
        0 0 40px var(--color4),
        0 0 50px var(--color5);
}

.intro{
    width: 100%;
    display: flex;
}

.intro-container{
    width: 80%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}

.content{
    position: relative;
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding: 0 1%;
}

.content img{        
    border-radius: 10px;
    width: 100%;
}

.content .title{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: none;
    transition: 0.2s ease;
    text-align: center;
}

.content:hover img{
    opacity: 0.3;
}

.content:hover .title{
    display: block;
}

@media only screen and (max-width: 749px) {
    .body-title{
        text-align: center;
        font-size: 25px;
        letter-spacing: 10px;
    }
    .content {
        width: 48%;
        line-height: 30px;
    }
}
    




