/* KHUYEN MAI */
.discount{
    display: inline;
    margin: 0 auto; 
    text-align: center;
}

.discount-title, .news-title{
    text-align: left;
    font-size: 30px;
    margin: 30px;
    letter-spacing: 2px;
    color : #fff;
    --color1: #ffe387;
    --color2: #ffd54c;
    --color3: #ffc400;
    --color4: #d6be71;
    --color5: #c4a745;
    text-shadow: 
        0 0 5px var(--color1),
        0 0 10px var(--color2),
        0 0 20px var(--color3),
        0 0 40px var(--color4),
        0 0 50px var(--color5);
}

.discount-container{
    display: flex;
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
}

.discount-big-items{
    position: relative;
    margin: 0 20px;
    width: 50%;
}

.big-items-title{
    position: absolute;
    bottom: 0;
    background-color: #3262a6;
    width: 100%;
    opacity: 0.8;
}

.discount-img img{
    width: 100%;
    aspect-ratio: 4/4;
    
}

.discount-items{
    display: block;
    box-sizing: border-box;
    margin: 0 20px 0 0;
    width: 25%;
}

/* TIN MOI */

.news{
    margin: 0 auto; 
}

.news-container {
    width: 80%;
    margin: 0 auto; 
}

.news-items{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 10px;
    background-color: #19376d;
    padding: 10px;
    margin: 10px auto; 
    width: 80%; 
}

.news-content p a{
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

.news-items .news-content{
    align-content: center;
    width: 70%;
}

.news-items .news-content p{
    font-size: 14px;
    flex-wrap: nowrap;
    text-align: justify;
    margin: 10px;
}

.news-items .news-img{
    width: 30%;
}

.news-items .news-img img{
    width: 100%;
    border-radius: 10px;
}

.news-more{
    display: flex;
    justify-content: center;
}
.news-more a button{  
    font-size: 14px;
    font-family: 'LT Neo Rounded', sans-serif !important;
    text-decoration: none;
    color: black;
    padding: 10px ;
    background-color: rgb(249, 235, 209);
    border: 2px solid #8e7821;
    border-radius: 10px;
    transition: 0.2s ease; 
}

.news-more button:hover{
    background-color: #ffe387;
    transform: scale(1.1);
}

@media only screen and (max-width : 749px){
    .items-title, .big-items-title{
        font-size: 14px;
    }
    /* discount */
    .discount-container{
        display: block;
    }
    .discount-big-items{
        width: 100%;
        margin: 10px auto;
    }
    .discount-items{
        display: flex;
        width: 100%;
        margin: 10px auto;
    }
    .items-title{
        width: 50%;
        float: left;
    }

    .items-title p{
        padding: 20px;
    }

    .items-img{
        float: left;
        width: 50%;
    }
    /* news */   

    .news-container{
        width: 90%;
    }

    .news-items{
        display: block;
    }
    .news-items .news-img{
        width: 100%;
        margin: 0 auto;
    }
    .news-items .news-content{
        width: 100%;
    }
}



